{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compartir archivo</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(edit_form.file) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(edit_form.file) }}
            </div>
            <div class="col-md-1">
                {{ form_label(edit_form.recipient) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(edit_form.recipient, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Compartir" />
    {{ form_end(edit_form) }}

{% endblock %}
