{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivos compartidos</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">Fecha</th>
                <th class="col-md-3">Nombre del archivo</th>
                <th class="col-md-3">Compartido con</th>
                <th class="col-md-4">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sharedFile in sharedFiles %}
            <tr>
                <td>{{ sharedFile.createdAt | date("d/M/Y") }}</td>
                <td>{{ sharedFile.filename }}</td>
                <th>{{ sharedFile.recipient.name }}</th>
                <td>
                    <div class="row">
                        <div class="md-col-2 lg-col-2">
                            <a style="float: left; margin-right: 10px" class="btn btn-success" href="{{ path('sharedfile_show', { 'id': sharedFile.id }) }}">Ver / Descargar</a>
                            {{ form_start(deleteForms[sharedFile.id]) }}
                                <input  class="btn btn-danger" type="submit" value="Borrar">
                            {{ form_end(deleteForms[sharedFile.id]) }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('sharedfile_new') }}">Compartir archivo</a>
{% endblock %}
