{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivos compartidos</h1>

    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2">Fecha</th>
            <th class="col-md-4">Nombre del archivo</th>
            <th class="col-md-4">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for sharedFile in sharedFiles %}
            <tr>
                <td>{{ sharedFile.createdAt | date("d/M/Y") }}</td>
                <td>{{ sharedFile.filename }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('sharedfile_show', { 'id': sharedFile.id }) }}">Ver / Descargar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
