{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compartir archivo</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.file) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.file) }}
            </div>
            <div class="col-md-1">
                {{ form_label(form.recipient) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.recipient, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Compartir" />
    {{ form_end(form) }}

{% endblock %}
