{% extends "::base.html.twig" %}

{% block title %}Resultados{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <button id="imprimir" class="btn btn-primary">Imprimir</button>
        <div class="row">
            <div class="col-md-6">
                <strong>Paciente: </strong><div id="paciente-nombre">{{ data.patient }}</div>
            </div>
            <div class="col-md-offset-3 col-md-3">
                <strong>Fecha: </strong><div id="reporte-fecha">{{ "now" | date("d/m/Y") }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Doctor: </strong><div id="reporte-doctor">{{ data.doctor }}</div>
            </div>
            <div class="col-md-offset-3 col-md-3">
                <strong>Edad: </strong><div id="paciente-edad">{{ data.age}} años</div>
            </div>
        </div>
        <br>
        <br>
    <div id="print-section">
        <div class="row">
            <div class="text-center">
                <input type="hidden" id="pagenumber" value="{{ data.exams|length }}">
                {%set idarr = 0%}
                {%set keysplit = 0%}
                {%set flaganti = 0%}
                {% for key, exam in data.exams %}

                    {%set keysplit = key|split(',')%}
                    <h4 id="titexam{{idarr}}" style="left: 50%;">{{ keysplit[0] }}</h4>

                    {% if keysplit[1] == 75 %}
                        <table id="tabexam{{idarr}}" class="table table-bordered table-condensed" style="font-size:12px; border: none !important;">
                            <thead>
                            <tr>
                                <td class="col-md-4"></td>
                                <td class="col-md-4"></td>
                                <td class="col-md-4"></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in exam %}
                                {% if not result.field.isTitle %}
                                    <tr style="lineWidht: 0 !important;">
                                        <td style="lineWidht: 0 !important;">{{ result.field.name == '-' ? '' : result.field.name }}</td>
                                        <td style="border: none !important;">{{ result.value }}</td>
                                        <td style="border: none !important;">{{ result.field.reference == '-' ? '' : result.field.reference|nl2br }} {{ result.field.unit == '-' ? '' : result.field.unit }}</td>
                                    </tr>
                                {% else %}
                                    <tr id="sub" class="subtt">
                                        <td colspan="2" style="font-size:10px;" id="subtitulo" class="sbtt"><b>{{ result.field.name }}</b></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                <tr><td></td><td>S = SENSIBLE<br>M = MODERADAMENTE RESISTENTE<br>R = RESISTENTE</td><td></td></tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table id="tabexam{{idarr}}" class="table table-bordered table-condensed" style="font-size:12px; border: none !important;">
                            <thead>
                            <tr>
                                <td class="col-md-4"></td>
                                <td class="col-md-4">Resultado</td>
                                <td class="col-md-4">Referencia</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in exam %}
                                {% if not result.field.isTitle %}
                                    <tr style="lineWidht: 0 !important;">
                                        <td style="lineWidht: 0 !important;">{{ result.field.name == '-' ? '' : result.field.name }}</td>
                                        <td style="border: none !important;">{{ result.value }} {{ result.field.unit == '-' ? '' : result.field.unit }}</td>
                                        <td style="border: none !important;">{{ result.field.reference == '-' ? '' : result.field.reference|nl2br }} {{ result.field.unit == '-' ? '' : result.field.unit }}</td>
                                    </tr>
                                {% else %}
                                    <tr id="sub" class="subtt">
                                        <td colspan="2" style="font-size:10px;" id="subtitulo" class="sbtt"><b>{{ result.field.name }}</b></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% set idarr = idarr + 1  %}
                {% endfor %}
            </div>
        </div>
    </div>
    <p class="text-right" style="margin-top: 100px">
        QFB. JUDIT RIOS LARA <br>
        CED. 4346280
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script src="{{ asset('bundles/jspdf/dist/jspdf.min.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/autotable.min.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/from_html.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/split_text_to_size.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/standard_fonts_metrics.js') }}"></script>

    <script>

        $('#imprimir').click(function () {
            let doc = new jsPDF('p', 'pt', 'letter');
            let elem = document.getElementById('main');

            let pnombre = document.getElementById('paciente-nombre').innerHTML;
            let rfecha = document.getElementById('reporte-fecha').innerHTML;
            let rdoctor = document.getElementById('reporte-doctor').innerHTML;
            let pedad = document.getElementById('paciente-edad').innerHTML;

            let paginas = document.getElementById('pagenumber').value;

            doc.setFontSize(10);
            if(paginas > 1){
                let cont;
                for(cont = 0; cont < paginas; cont ++){
                    if(pnombre){
                        doc.text(150,65,"Paciente: "+pnombre);
                    }
                    if(rfecha){
                        doc.text(450,80,"Fecha: "+rfecha);
                    }
                    if(rdoctor){
                        doc.text(150,80,rdoctor);
                    }
                    if(pedad){
                        doc.text(450,65,"Edad: "+pedad);
                    }

                    let titstring =  document.getElementById('titexam'+cont).innerHTML;
                    xOffset = (doc.internal.pageSize.width / 2) - (doc.getStringUnitWidth(titstring) * 12 / 2); 

                    doc.fromHTML($('#titexam'+cont).get(0), xOffset, 110, {
                                lineWidht: 0,
                        styles: {
                                fontSize: 2,
                            }
                    });

                    var res = doc.autoTableHtmlToJson(document.getElementById("tabexam"+cont));
                    doc.autoTable(res.columns, res.data, 
                    {
                        columnStyles: {
                            0: {columnWidth: 190},
                            1: {columnWidth: 200},
                            2: {columnWidth: 200}
                        },
                        createdCell: function(cell, data) { 

                            data.row.height = 20;
                                cell.styles.fontSize = 9; 

                            if (data.row.raw[0].id === "subtitulo") { 
                                cell.styles.fontStyle = 'bold'; 
                                cell.styles.fontSize = 10; 
                                data.row.cells[0].width = 400;
                                data.row.cells[0].y = 400;

                                data.row.y = 400;
                            } 

                        },
                        margin: {top: 170},
                        theme: 'plain',
                        rowHeight: 0,
                        styles: {
                            overflow: 'linebreak'
                        }

                    });

                    doc.text(380,722,'QFB. JUDIT RIOS LARA');
                    doc.text(380,733,'CED. 4346280');

                    if((cont + 1) != paginas){
                        doc.addPage();
                    }
                }
            }else{
            
                if(pnombre){
                    doc.text(150,65,"Paciente: "+pnombre);
                }
                if(rfecha){
                    doc.text(450,80,"Fecha: "+rfecha);
                }
                if(rdoctor){
                    doc.text(150,80,rdoctor);
                }
                if(pedad){
                    doc.text(450,65,"Edad: "+pedad);
                }

                let titstring =  document.getElementById('titexam0').innerHTML;
                xOffset = (doc.internal.pageSize.width / 2) - (doc.getStringUnitWidth(titstring) * 12 / 2);
                doc.fromHTML($('#titexam0').get(0), xOffset, 110, {
                    lineWidht: 0,
                    styles: {
                        fontSize: 2,
                    }
                });

                var res = doc.autoTableHtmlToJson(document.getElementById("tabexam0"));
                doc.autoTable(res.columns, res.data, 
                    {
                        columnStyles: {
                           0: {columnWidth: 190},
                           1: {columnWidth: 200},
                           2: {columnWidth: 200}
                        },
                        createdCell: function(cell, data) { 

                            //console.log("height: " + data.table.height);

                            //console.log(cell.text);
                            console.log(data.row);
                            //console.log(data.row.raw[0].id);
                            //console.log(data.column.dataKey);

                            data.row.height = 20;
                                cell.styles.fontSize = 9; 

                            if (data.row.raw[0].id === "subtitulo") { 
                                cell.styles.fontStyle = 'bold'; 
                                cell.styles.fontSize = 10; 
                                //data.row.cells[0].styles.cellPadding = 3;
                                //data.row.cells[0].styles.columnWidth = 600;
                                //data.row.cells[0].styles.colSpan = 2;
                                data.row.cells[0].width = 400;
                                data.row.cells[0].y = 400;

                                //doc.autoTableText(cell.text + '', data.settings.margin.left + data.table.width / 2, data.row.y + data.row.height / 2, {
                                  //  halign: 'center',
                                    //valign: 'middle'
                                //});

                                data.row.y = 400;
                            } 

                        },

                        margin: {top: 170},
                        theme: 'plain',
                        //theme: 'grid',
                        rowHeight: 0,
                        
                        styles: {
                            overflow: 'linebreak'
                          }

                    });


                doc.text(380,722,'QFB. JUDIT RIOS LARA');
                doc.text(380,733,'CED. 4346280');
            }

            doc.save("resultados.pdf");
        });



    </script>
{% endblock %}
