{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>


{% endblock %}
