{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('assets/labs/folders.css') }}">
{% endblock %}

{% block body %}
    <h1>Orden #{{ order.id }}</h1>
    <h2 class="text-capitalize">Paciente: {{ order.patient }}</h2>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.file) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.file) }}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Compartir" />
    {{ form_end(form) }}

    <div class="row">
        <div class="text-center">
            <button class="btn btn-success" id="save_button">Guardar</button>
            {#<button class="btn btn-info" id="print_button">Imprimir</button>#}
            <a href="{{ path('order_results', {"id": order.id }) }}" class="btn btn-warning" target="_blank">Imprimir</a>
            <a href="{{ path('order_preview', {"id": order.id }) }}" class="btn btn-warning" target="_blank">Vista Previa</a>
            {#<button class="btn btn-danger">Subir documento</button>#}
        </div>
    </div>

    <hr>
    <table class="table table-striped table-bordered">
        <tbody>
        {% for batch in order.details | batch(2) %}
            <tr>
            {% for detail in batch %}
                <td>
                    <h3 class="text-capitalize">{{ detail.exam }}</h3>
                    {% for field in detail.exam.fields %}
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" for="{{ field.id }}">{{ field.name }}</label>
                            </div>
                            <div class="input-group">
                                <label for="field[{{ field.id }}]"></label>
                                <input type="text" class="form-control" id="field[{{ field.id }}]" name="{{ field.id }}" value="{{ results[field.id] | default ('')}}">
                                <div class="input-group-addon">{{ field.unit }}</div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if (detail.exam.id) == 75 %}
                        <button type="button" class="btn btn-primary" id="addPositive"\>Positivo</button>
                        <button type="button" class="btn btn-primary" id="addNegative"\>Negativo</button>

                        
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" id="167">BACTERIA AISLADA E IDENTIFICADA</label>
                            </div>
                            <div class="input-group">
                                <label for="field[167]"></label>
                                <input type="text" class="form-control" id="field[167]" name="{{ 167 }}" value="-">
                                <div class="input-group-addon"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label" id="168">-</label>
                            </div>
                            <div class="input-group">
                                <label for="field[168]"></label>
                                <input type="text" class="form-control" id="field[168]" name="{{ 168 }}" value="{{ results[168] | default ('')}}">
                                <div class="input-group-addon"></div>
                            </div>
                        </div>
                    {% endif %}

                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $("#save_button").on('click', function(){
            let fields = {'order': {{ order.id}}};
            $("input[id^='field']").each(function (i, el) {
                fields[el.name] = el.value;
            });

            $.ajax({
                async: false,
                url: '{{ path('save_results') }}',
                type: "POST",
                data: fields,
                success: function (){
                    alert('Operacion exitosa');
                },
                error: function (){
                    alert("La operacion no pudo ser completada");
                }
            });
        });
        $("#addPositive").on('click', function(){
            let fieldsPositives = [];

            
        });
    </script>
{% endblock %}