<div class="modal fade" id="doctorModal" tabindex="-1" role="dialog" aria-labelledby="doctorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="doctorLabel">Crear doctor</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="doctorNameModal">Nombre del doctor</label>
                <input class="form-control" type="text" id="doctorNameModal" name="doctorNameModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save_doc_modal">Guardar Doctor</button>
            </div>
        </div>
    </div>
</div>