{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Editar orden</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                {{ include('patient/edit_patient.html.twig') }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(edit_form.doctor) }}
                {{ form_widget(edit_form.doctor, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.company) }}
                {{ form_widget(edit_form.company, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.discount) }}
                {{ form_widget(edit_form.discount, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(edit_form.retainer) }}
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ form_widget(edit_form.retainer, { 'attr': { 'class': 'form-control retainer'}, 'money_pattern': '{{ widget }}' }) }}
                </div>
            </div>
            <div class="col-md-2">
                {{ form_label(edit_form.total) }}
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ form_widget(edit_form.total, { 'attr': { 'class': 'form-control total'}, 'money_pattern': '{{ widget }}' }) }}
                </div>
            </div>
            <div class="col-md-2">
                {{ form_label(edit_form.status) }}
                {{ form_widget(edit_form.status, {'attr': {'class': 'form-control status'}}) }}
            </div>
            <div class="col-md-2">
                    {{ form_label(edit_form.created_at) }}<br>
                    {{ form_widget (edit_form.created_at )}}
            </div>
            <br>
            <input class="btn btn-lg btn-warning" type="submit" value="Editar" />
        </div>
        <div class="form-group">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#laboratory_1" aria-controls="laboratory_1" role="tab" data-toggle="tab">Laboratorio 1</a></li>
                <li role="presentation"><a href="#laboratory_2" aria-controls="laboratory_2" role="tab" data-toggle="tab">Laboratorio 2</a></li>
                <li role="presentation"><a href="#x-ray" aria-controls="x-ray" role="tab" data-toggle="tab">Radiografia</a></li>
                <li role="presentation"><a href="#echo" aria-controls="echo" role="tab" data-toggle="tab">Ecosonogramas</a></li>
                <li role="presentation"><a href="#contrasted" aria-controls="contrasted" role="tab" data-toggle="tab">Contrastados</a></li>
                <li role="presentation"><a href="#mama" aria-controls="mama" role="tab" data-toggle="tab">Mama</a></li>
                <li role="presentation"><a href="#scan" aria-controls="scan" role="tab" data-toggle="tab">Tomografia</a></li>
            </ul>
            <div class="tab-content">
                {% include 'order/edit_tabs/laboratory_1.html.twig' %}
                {% include 'order/edit_tabs/laboratory_2.html.twig' %}
                {% include 'order/edit_tabs/x-ray.html.twig' %}
                {% include 'order/edit_tabs/echo.html.twig' %}
                {% include 'order/edit_tabs/contrasted.html.twig' %}
                {% include 'order/edit_tabs/mama.html.twig' %}
                {% include 'order/edit_tabs/scan.html.twig' %}
            </div>
        </div>
    </div>
    {{ form_row(edit_form._token) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>

    <script>
        $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });

    </script>
{% endblock %}