{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Ordenes</h1>
    {% if not is_granted('ROLE_DOC') %}
        <a class="btn btn-info" href="{{ path('order_new') }}">Generar orden</a>
    {% endif %}
    <hr>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                {#{% if is_granted('ROLE_DOC') %}#}
                    {#<th class="th-sm"> Paciente <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>#}
                    {#<th class="th-sm"> Fecha <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>#}
                    {#<th> Opciones </th>#}
                {#{% else %}#}
                    <th class="th-sm"> ID <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    <th class="th-sm col-md-4"> Paciente <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    <th class="th-sm col-md-1"> Total <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    <th class="th-sm col-md-1"> Adelanto <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    <th class="th-sm col-md-1"> Estado <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    <th class="th-sm col-md-2"> Fecha <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
                    {#<th class="col-md-2"> Opciones </th>#}
                {#{% endif %}#}
            </tr>
        </thead>
        <tbody>
        {#{% for order in orders %}#}
            {#<tr>#}
                {#{% if is_granted('ROLE_DOC') %}#}
                    {#<td>{{ order.patient.name }}</td>#}
                    {#<td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#<td>#}
                        {#{% if order.status == "Pagada" %}#}
                            {#<a href="{{ path('download_file', {'id': order.id } ) }}" id="{{ order.id }}"  class="download_file btn btn-info">#}
                                {#<span class="glyphicon glyphicon-download" aria-hidden="true"></span>#}
                            {#</a>#}
                        {#{% else %}#}
                            {#Esta orden se encuentra pendiente de pago.#}
                        {#{% endif %}#}
                    {#</td>#}
                {#{% else %}#}
                    {#<td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.id }}</a></td>#}
                    {#<td>{{ order.patient.name }}</td>#}
                    {#<td>${{ order.total }}</td>#}
                    {#<td>${{ order.retainer }}</td>#}
                    {#<td>{{ order.status }}</td>#}
                    {#<td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    {#<td>#}
                        {##}
                            {#<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Resultados" href="{{ path('order_detail', { 'id': order.id }) }}"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>#}
                        {#{% endif %}#}

                        {#{% if is_granted('ROLE_REC') or is_granted('ROLE_ADM') %}#}
                            {#<a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Ver" href="{{ path('order_show', { 'id': order.id }) }}">#}
                                {#<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>#}
                            {#<a class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('order_edit', { 'id': order.id }) }}">#}
                                {#<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </a>#}
                            {#<button class="delete_order btn btn-danger" data-toggle="tooltip" data-placement="top" title="Borrar" id="{{ order.id }}"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>#}
                        {#{% endif %}#}

                        {#<a class="download_file btn btn-info" data-toggle="tooltip" data-placement="top" title="Descargar" href="{{ path('download_file', {'id': order.id } ) }}" id="{{ order.id }}" >#}
                            {#<span class="glyphicon glyphicon-download" aria-hidden="true"></span>#}
                        {#</a>#}
                    {#</td>#}
                {#{% endif %}#}
            {#</tr>#}
        {#{% endfor %}#}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#main thead tr').append('<th/>');
            $('#main').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ path('ajax_orders') }}',
                    "type": 'POST',
                },
                "columnDefs": [
                    {"name": "id", "targets": 0},
                    {"name": "patient", "targets": 1},
                    {"name": "total", "targets": 2},
                    {"name": "retainer", "targets": 3},
                    {"name": "status", "targets": 4},
                    {"name": "createdAt", "targets": 5},
                ],
                "columns": [
                    { data: '0'},
                    { data: '1'},
                    { data: '2'},
                    { data: '3'},
                    { data: '4'},
                    { data: '5'},
                    {
                        data: null,
                        sortable: false,
                        "render": function ( data ) {
                            let id = data[0];

                            let results_path = "{{ path('order_detail', { 'id': 'id_variable' }) }}";
                            results_path = results_path.replace('id_variable', id);

                            let check_path = "{{ path('order_show', { 'id': 'id_variable' }) }}";
                            check_path = check_path.replace('id_variable', id);

                            let edit_path = "{{ path('order_edit', { 'id': 'id_variable' }) }}";
                            edit_path = edit_path.replace('id_variable', id);

                            let download_path = "{{ path('download_file', {'id': 'id_variable' } ) }}";
                            download_path = download_path.replace('id_variable', id);

                            let download_button =   '<a class="download_file btn btn-info" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Descargar" href="'+download_path+'"> <span class="glyphicon glyphicon-download" aria-hidden="true"></span> </a>';

                            let results = '';

                            {% if is_granted('ROLE_LAB') or is_granted('ROLE_ADM') %}
                                let results_button =    '<a class="btn btn-primary" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Resultados" href="'+results_path+'"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> </a>';
                                results += results_button;
                            {% endif %}

                            {% if is_granted('ROLE_REC') or is_granted('ROLE_ADM') %}
                                let show_button =       '<a class="btn btn-success" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Ver" href="'+check_path+'" id="'+id+'" > <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>';
                                let edit_button =       '<a class="btn btn-warning" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Editar" href="'+edit_path+'"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </a>';
                                let remove_button =     '<button class="btn btn-danger" style="margin-right: 5px" data-toggle="tooltip" data-placement="top" title="Borrar" onclick="delete_order('+id+')" id="'+id+'"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>';
                                results += show_button + edit_button + remove_button;
                            {% endif %}

                            results += download_button;

                            return results;
                        }
                    }
                ],
                "paging": true,
                "pagingType": "simple_numbers",
                "searching": true,
                "pageLength": 10,
                "autoWidth": true,
                "info": true,
            });
            $('.dataTables_length').addClass('bs-select');
        });

        function delete_order(id) {
            let r = confirm("Desear eliminar este elemento?");
            if (r === true) {
                const button = $(this);
                let url = '{{ path('delete_order', {'id': 'placeholder'}) }}';
                url = url.replace('placeholder', id);

                $.ajax({
                    async: false,
                    url: url,
                    type: "POST",
                    dataType: 'JSON',
                    success: function(data) {
                        if (data['status']) {
                            button.closest('tr').remove()
                        }
                    }
                });
            }
        }

    </script>

{% endblock %}