{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block body %}
    <h1>Agregar orden</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% include 'order/doctorModal.html.twig' %}

    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                {{ include('patient/patient.html.twig') }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(form.doctor) }}
                <button type="button" class="btn-small btn-primary" data-toggle="modal" data-target="#doctorModal">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
                {{ form_widget(form.doctor, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.company) }}
                {{ form_widget(form.company, {'attr': {'class': 'form-control company'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.discount) }}
                {{ form_widget(form.discount, {'attr': {'class': 'form-control discount'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(form.retainer) }}
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ form_widget(form.retainer, { 'attr': { 'class': 'form-control retainer', 'value': '0', 'step':'.01' }, 'money_pattern': '{{ widget }}' }) }}
                </div>
            </div>
            <div class="col-md-2">
                {{ form_label(form.total) }}
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ form_widget(form.total, { 'attr': { 'class': 'form-control total', 'value': '0', 'step':'.01' }, 'money_pattern': '{{ widget }}' }) }}
                </div>
            </div>
            <div class="col-md-2">
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control status'}}) }}
            </div>
            <div class="col-md-2">
                    {{ form_label(form.created_at) }}<br>
                    {{ form_widget(form.created_at) }}
            </div>
            <br>
            <input class="btn btn-lg btn-success" type="submit" value="Agregar" />

        </div>
        <div class="form-group">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#laboratory_1" aria-controls="laboratory_1" role="tab" data-toggle="tab">Laboratorio 1</a></li>
                <li role="presentation"><a href="#laboratory_2" aria-controls="laboratory_2" role="tab" data-toggle="tab">Laboratorio 2</a></li>
                <li role="presentation"><a href="#x-ray" aria-controls="x-ray" role="tab" data-toggle="tab">Radiografia</a></li>
                <li role="presentation"><a href="#echo" aria-controls="echo" role="tab" data-toggle="tab">Ecosonogramas</a></li>
                <li role="presentation"><a href="#contrasted" aria-controls="contrasted" role="tab" data-toggle="tab">Contrastados</a></li>
                <li role="presentation"><a href="#mama" aria-controls="mama" role="tab" data-toggle="tab">Mama</a></li>
                <li role="presentation"><a href="#scan" aria-controls="scan" role="tab" data-toggle="tab">Tomografia</a></li>
            </ul>
            <div class="tab-content">
                {% include 'order/tabs/laboratory_1.html.twig' %}
                {% include 'order/tabs/laboratory_2.html.twig' %}
                {% include 'order/tabs/x-ray.html.twig' %}
                {% include 'order/tabs/echo.html.twig' %}
                {% include 'order/tabs/contrasted.html.twig' %}
                {% include 'order/tabs/mama.html.twig' %}
                {% include 'order/tabs/scan.html.twig' %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            let day = new Date();
            let discount_select = $(".discount");
            window.pretotal = 0;

            // Forced the selection on Thursday
            if (day.getDay() === 4) {
                discount_select.val("1");
            }

           get_discount();


        });

        $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            }).datepicker("setDate",'now');

            
        function get_discount() {
            let discount_select = $(".discount");

            if (discount_select.val() !== "") {
                window.discount = discount_select.val();
            } else {
                window.discount = 0;
            }

            let url = '{{ path('get_discount_value', {'id': 'placeholder'}) }}';
            url = url.replace('placeholder', window.discount);

            $.ajax({
                async: false,
                url: url,
                type: "POST",
                dataType: 'JSON',
                success: function(data){
                    window.discount = (100 - data['value']) / 100;
                },
                error: function (){
                    window.discount = 1;
                }
            });
        }

        function get_company() {
            let company = $(".company");

            if (company.val() !== "") {
                window.discount = company.val();
            } else {
                window.discount = 0;
            }

            let url = '{{ path('get_company_value', {'id': 'placeholder'}) }}';
            url = url.replace('placeholder', window.discount);

            $.ajax({
                async: false,
                url: url,
                type: "POST",
                dataType: 'JSON',
                success: function(data){
                    window.discount = (100 - data['value']) / 100;
                },
                error: function (){
                    window.discount = 1;
                }
            });
        }

        function sum_exam_price(exam_id) {
            $.ajax({
                async: false,
                url: '{{ path('get_price_exam') }}',
                type: "POST",
                data: 'exam_id='+exam_id,
                dataType: 'JSON',
                success: function(data) {
                    window.pretotal += data['price'];
                }
            });
        }

        function sub_exam_price(exam_id) {
            $.ajax({
                async: false,
                url: '{{ path('get_price_exam') }}',
                type: "POST",
                data: 'exam_id='+exam_id,
                dataType: 'JSON',
                success: function(data) {
                    window.pretotal -= data['price'];
                }
            });
        }

        $(".discount").change(function(){
            let total_input = $('.total');

            get_discount();

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });

        $(".company").change(function(){
            let total_input = $('.total');

            get_company();

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });

        $(".auto-total").change(function(){
            let checkbox = $(this);
            let exam_id = $(this).val();
            let total_input = $('.total');

            // Find if current checkbox was checked or unchecked
            if(checkbox.is(':checked')) {
                sum_exam_price(exam_id);
            } else {
                sub_exam_price(exam_id);
            }

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });

        $(".retainer").change(function(){
            let select = $('.status');

            if(parseInt(select.val()) === 2 || parseInt(select.val()) === 3) {
                return ;
            }

            if($(this).val() > 0){
                select.val('4');
            } else {
                select.val('1');
            }
        });

        $("#save_doc_modal").click( function (){
            let name = $("#doctorNameModal").val();
            let select = $("#appbundle_order_doctor");

            let url = '{{ path('save_doctor_modal', {'name': 'placeholder'}) }}';
            url = url.replace('placeholder', name);

            $.ajax({
                async: false,
                url: url,
                type: "POST",
                dataType: 'JSON',
                success: function(data){
                    select.append($('<option>', {value:data.id, text:name}));
                },
                error: function (){
                    alert("La operacion no pudo ser completada");
                }
            });
        });
    </script>
{% endblock %}