<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vista Previa{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
        {% block body %}
            <div class="row">
                <div class="col-md-6">
                    <h3>Paciente: {{ data.patient }}</h3>
                </div>
                <div class="col-md-offset-3 col-md-3">
                    <h3>Fecha: {{ "now" | date("d/m/Y") }}</h3>
                </div>
            </div>

            <h3>Doctor: {{ data.doctor }}</h3>

            <div class="row">
                <div class="text-center">
                    {% for key, exam in data.exams %}
                        <h2>Examen practicado: {{ key }}</h2>

                        <table class="table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <td class="col-md-4"></td>
                                <td class="col-md-4">Resultado</td>
                                <td class="col-md-4">Referencia</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in exam %}
                                {% if not result.field.isTitle %}
                                    <tr>
                                        <td>{{ result.field.name }}</td>
                                        <td>{{ result.value }} {{ result.field.unit == '-' ? '' : result.field.unit }}</td>
                                        <td>{{ result.field.reference == '-' ? '' : result.field.reference }} {{ result.field.unit == '-' ? '' : result.field.unit }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td><b>{{ result.field.name }}</b></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
            <p class="text-right" style="margin-top: 100px">
                QFB. JUDIT RIOS LARA <br>
                CED. 4346280
            </p>
        {% endblock %}
    </div>
    </body>
</html>