<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="resultLabel">Llenar resultados</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for detail in order.details %}
                    {{ dump(detail) }}
                    {% for field in detail.exam.fields %}
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label" for="{{ field.id }}">{{ field.name }}</label>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}">
                                <div class="input-group-addon">{{ field.unit }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save_doc_modal">Guardar resultados</button>
            </div>
        </div>
    </div>
</div>