{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>${{ order.total }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ultima modificación</th>
                <td>{% if order.modifiedAt %}{{ order.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{ order.createdBy }}</td>
            </tr>
            <tr>
                <th>Modificado por</th>
                <td>{{ order.modifiedBy }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('order_edit', { 'id': order.id }) }}">Editar</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
