{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar paciente</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(edit_form.age) }}
                {{ form_widget(edit_form.age, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.birthdate) }}
                {{ form_widget(edit_form.birthdate) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.address) }}
                {{ form_widget(edit_form.address, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(edit_form.phone) }}
                {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.cellphone) }}
                {{ form_widget(edit_form.cellphone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.email) }}
                {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <input class="btn btn-warning" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}
