{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Pacientes</h1>
    <a class="btn btn-info" href="{{ path('patient_new') }}">Agregar paciente</a>
    <hr>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': patient.id }) }}">{{ patient.id }}</a></td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{% if patient.birthdate %}{{ patient.birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.cellphone }}</td>
                <td>{{ patient.email }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('patient_show', { 'id': patient.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('patient_edit', { 'id': patient.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "autoWidth": true,
                "info": false
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}