{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agregar Paciente</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(form.age) }}
                {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.birthdate) }}
                {{ form_widget(form.birthdate) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.address) }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.cellphone) }}
                {{ form_widget(form.cellphone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

        <input class="btn btn-success" type="submit" value="Agregar" />
    {{ form_end(form) }}
{% endblock %}
