<h2>Registrar Paciente</h2>

    <div class="form-group">
        <div class="col-md-2">
            {{ form_label(form.patient.name) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.patient.name, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            {{ form_label(form.patient.age) }}
            {{ form_widget(form.patient.age, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.patient.birthdate) }}
            {{ form_widget(form.patient.birthdate) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.patient.address) }}
            {{ form_widget(form.patient.address, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            {{ form_label(form.patient.phone) }}
            {{ form_widget(form.patient.phone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.patient.cellphone) }}
            {{ form_widget(form.patient.cellphone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.patient.email) }}
            {{ form_widget(form.patient.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
