{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ patient.name }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ patient.age }}</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{% if patient.birthdate %}{{ patient.birthdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ patient.address }}</td>
            </tr>
            <tr>
                <th>Número de teléfono</th>
                <td>{{ patient.phone }}</td>
            </tr>
            <tr>
                <th>Número celular</th>
                <td>{{ patient.cellphone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ patient.email }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('patient_edit', { 'id': patient.id }) }}">Editar</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>


{% endblock %}
