{% extends "::base.html.twig" %}

{% block title %}Reporte: {{ user }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datepicker/datepicker.css') }}">
{% endblock %}

{% block body %}
    <h1>Reporte de comisiones: {{ user }}</h1>

    <button class="btn btn-success" id="cmd">Crear PDF</button>

    <hr>
    <div class="row">
        <div class="col-md-3">
            <label>
                <input type="text" name="date-range"/>
            </label>
        </div>
        <div class="col-md-5">
            <div>
                <button class="btn btn-primary toggle-vis" data-column="0">Paciente</button>
                <button class="btn btn-primary toggle-vis" data-column="1">Examenes</button>
                <button class="btn btn-primary toggle-vis" data-column="2">Fecha</button>
                <button class="btn btn-primary toggle-vis" data-column="3">Total</button>
                <button class="btn btn-primary toggle-vis" data-column="4">Comision</button>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Total comision: <label class="commision_total"></label></h3>
        </div>
    </div>
    <hr>

    <table id="main" class="table table-bordered table-striped display" style="width:100%">
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Examenes</th>
            <th>Fecha</th>
            <th class="col-md-1">Total</th>
            <th class="col-md-1">Comision</th>
        </tr>
        </thead>
        <tbody>
        {% set total_comision = 0 %}
        {% for order in orders %}
            {% set comision = 0 %}
            {% set total = 0 %}
            {% set categories = [] %}
            <tr>
                <td class="col-md-4">{{ order.patient }}</td>
                <td>
                    {% for detail in order.details %}
                        {% if detail.exam.category not in categories %}
                            {% set categories = categories|merge([detail.exam.category]) %}
                        {% endif %}
                        {% set total = total + detail.exam.cost %}

                        {% if detail.exam.category.id in [1, 2, 3, 4, 5] %}
                            {% set comision = order.total * 0.15 %}
                        {% else %}
                            {% set comision = order.total * 0.10 %}
                        {% endif %}
                    {% endfor %}
                    {% for category in categories %}
                         {{ category }} <br>
                    {% endfor %}
                </td>
                <td>{{ order.createdAt | date("Y-m-d") }}</td>
                <td class="total">${{ order.total | number_format(2, '.') }} </td>
                <td class="commission">${{ comision | number_format(2, '.') }}</td>
                {% set total_comision = total_comision + comision %}
                {{ app.session.set('total_comision', total_comision) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/datepicker.js') }}"></script>

    <script src="{{ asset('bundles/jspdf/dist/jspdf.min.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/autotable.min.js') }}"></script>

    <script>
        let startDate = new Date(2018, 0, 1);
        let endDate = new Date();

        $(document).ready(function () {
            // Datatables init
            let table = $('#main').DataTable({
                "pagingType": "simple_numbers",
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "autoWidth": true,
                "info": false,
                "lengthMenu": [[-1, 25, 50], ["Todos", 25, 50]],
                "initComplete": function () {
                    calculateTotal();
                },
                "drawCallback": function() {
                    calculateTotal();
                },

            });
            $('button.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                let column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            } );
            $('.dataTables_length').addClass('bs-select');

            $(".btn").click(function () {
                if ( $(this).hasClass("btn-primary") )
                    $(this).removeClass("btn-primary").addClass("btn-secondary");
                else if ( $(this).hasClass("btn-secondary") )
                    $(this).removeClass("btn-secondary").addClass("btn-primary");
            });

            // PDF Generation
            $('#cmd').click(function () {
                let doc = new jsPDF('p', 'pt');
                let elem = document.getElementById("main");
                let res = doc.autoTableHtmlToJson(elem);
                let total = $('.commision_total').text();
                //doc.text('LABORATORIO SAN LUCAS S.A. de C.V.', 40, 40);
                doc.text('{{ user }}', 40, 60);
                doc.autoTable(res.columns, res.data, {
                    startY: 70,
                    styles: {
                        fontSize: 8
                    }
                });
                doc.setFontSize(12);
                doc.text('Comisión total: ' + total, 40, doc.autoTable.previous.finalY + 15);
                doc.save("table.pdf");
            });

            calculateTotal();
        });

        function calculateTotal() {
            // Calculate total commission
            let sum = 0;

            let formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2,
            });

            // iterate through each td based on class and add the values
            $(".commission").each(function () {

                let value = Number($(this).text().replace(/[^0-9.-]+/g, ""));
                // add only if the value is number
                if (!isNaN(value) && value.length !== 0) {
                    sum += parseFloat(value.toString());
                }
            });
            $('.commision_total').text(formatter.format(sum));
        }

        var start = moment().subtract(29, 'days');

        $('input[name="date-range"]').daterangepicker({
            opens: 'center',
            "startDate": start,
            locale: {
                format: "YYYY-MM-DD"
            }
        }, function (start, end) {
            startDate = start.format('YYYY-MM-DD');
            endDate = end.format('YYYY-MM-DD');

            $('#main').DataTable().draw();
            calculateTotal();
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data) {
                let min = startDate;
                let max = endDate;
                let createdAt = data[2] || 0;

                return !!((min === null || max === null) ||
                    moment(createdAt, "YYYY-MM-DD").isSameOrAfter(moment(min, "YYYY-MM-DD")) &&
                    moment(createdAt, "YYYY-MM-DD").isSameOrBefore(moment(max, "YYYY-MM-DD")));
            }
        );
    </script>
{% endblock %}
