{% extends "::base.html.twig" %}

{% block title %}Reportes diarios{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datepicker/datepicker.css') }}">
{% endblock %}

{% block body %}
<h1>Reportes diarios</h1>
    <div class="col-md-9">
        <hr>
        <label>
            <input type="text" name="date-range" value="01/01/2018 - 01/15/2018" />
        </label>
        <hr>

        <table id="main" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-md-3">Fecha</th>
                <th class="col-md-3">No. ordenes</th>
                <th class="col-md-3">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for date, number_orders in result %}

                <tr>
                    <td>{{ date | date("d/m/Y") }}</td>
                    <td>{{ number_orders }}</td>
                    <td><a href="{{ path('reports_daily_date', {'date': date}) }}"><button class="btn btn-primary">Generar reporte</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/datepicker.js') }}"></script>

    <script>
        let startDate = new Date(2018, 0, 1);
        let endDate = new Date();

        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "autoWidth": true,
                "info": false,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todos"]]
            });
            $('.dataTables_length').addClass('bs-select');

        });

        $('input[name="date-range"]').daterangepicker({
            opens: 'center',
            "startDate": "01/01/2018",
            locale: {
                format: "DD/MM/YYYY"
            }
        }, function(start, end) {
            startDate = start.format('DD/MM/YYYY');
            endDate = end.format('DD/MM/YYYY');

            $('#main').DataTable().draw();
        });

        $.fn.dataTable.ext.search.push(
            function( settings, data) {
                let min = startDate;
                let max = endDate;
                let createdAt = data[0] || 0;

                return !!((min === null || max === null) || moment(createdAt, "DD/MM/YYYY").isBetween(moment(min, "DD/MM/YYYY"), moment(max, "DD/MM/YYYY")));
            }
        );
    </script>
{% endblock %}
