{% extends "::base.html.twig" %}

{% block title %}Reportes de Ingresos{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}

<h1>Reportes de ingresos {{ date }}</h1>
    <button id="daily" class="btn btn-primary">Crear reporte diario</button>
    <button id="reception" class="btn btn-primary">Crear reporte recepcion</button>
    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Paciente</th>
                <th>Examenes</th>
                <th class="pdf-hide">Costo</th>
                <th>Total</th>
                <th>Abonado</th>
                <th>Adeudo</th>
                <th>Descuento</th>
            </tr>
        </thead>
        <tbody>
            {% set total_day = 0%}
            {% set retained = 0 %}

            {% for order in result %}
                {% set cost = 0 %}
                {% set categories = [] %}
                <tr>
                    <td>{{ order.doctor }}</td>
                    <td>{{ order.patient }}</td>
                    <td>
                        {% for detail in order.details %}
                            {% if detail.exam.category not in categories %}
                                {% set categories = categories|merge([detail.exam.category]) %}
                            {% endif %}

                            {% set cost = cost + detail.exam.cost %}

                        {% endfor %}
                        {% for category in categories %}
                            {{ category }} <br/>
                        {% endfor %}
                    </td>
                    <td class="pdf-hide">${{ cost }}</td>
                    <td>${{ order.total }}</td>
                    <td>${{ order.retainer }}</td>
                    <td>${{ order.total - order.retainer }}</td>
                    <td>
                        {% if order.discount is not null %}
                            {{ order.discount }} - {{ order.discount.discount }}%
                        {% elseif order.company is not null %}
                            {{ order.company }}
                        {% else %}
                            No Aplica
                        {% endif %}
                    </td>
                </tr>
                {% set total_day = total_day + order.total %}
                {% set retained = retained + order.retainer %}
            {% endfor %}
            {{ app.session.set('total', total_day) }}
            {{ app.session.set('retained', retained) }}
        </tbody>
    </table>

    <h3>Total abonado: ${{ retained  | number_format(2, '.') }}</h3>
    <h3>Total del dia: ${{ total_day  | number_format(2, '.') }}</h3>
    <h3>Total Adeudado: ${{ (total_day - retained) | number_format(2, '.') }}</h3>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script src="{{ asset('bundles/jspdf/dist/jspdf.min.js') }}"></script>
    <script src="{{ asset('bundles/jspdf/plugins/autotable.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "autoWidth": true,
                "info": false,
                "lengthMenu": [[25, 50, -1], [25, 50, "Todos"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $('#daily').click(function () {
            let doc = new jsPDF('p', 'pt');
            let elem = document.getElementById('main');
            let res = doc.autoTableHtmlToJson(elem);
            doc.text('LABORATORIO SAN LUCAS S.A. de C.V.', 40, 40);
            doc.text('Rayos X Atotonilco el Alto', 40, 60);
            doc.text('REPORTE DE INGRESOS DIARIOS', 40, 80);
            doc.text('{{ date }}', 40, 100);

            doc.autoTable(res.columns.slice(0,5), res.data, {
                startY:110,
                styles: {
                    fontSize: 8,
                }
            });

            doc.text('Total del dia: ${{ app.session.get('total') }}', 40, doc.autoTable.previous.finalY + 15);
            doc.text('Total abonado: ${{ app.session.get('retained') }}', 40, doc.autoTable.previous.finalY + 30);
            doc.save("table.pdf");
        });

        $('#reception').click(function () {
            let hidding = $('.pdf-hide');
            hidding.hide();

            let doc = new jsPDF('l', 'pt');
            let elem = document.getElementById("main");
            let res = doc.autoTableHtmlToJson(elem);
            doc.text('REPORTE DE RECEPCION {{ date }}', 40, 40);

            doc.autoTable(res.columns, res.data, {
                startY:50,
                styles: {
                    fontSize: 8
                }
            });

            doc.text('Total del dia: ${{ app.session.get('total') }}', 40, doc.autoTable.previous.finalY + 15);
            doc.text('Total abonado: ${{ app.session.get('retained') }}', 40, doc.autoTable.previous.finalY + 30);
            doc.save("table.pdf");
            hidding.show();
        });
    </script>
{% endblock %}
