{% extends "::base.html.twig" %}

{% block title %}AppBundle:Report:IndexReport{% endblock %}

{% block body %}
<h1>Reportes</h1>

    <div class="row">
        <div class="col-md-4">
            <a class="col-md-10 btn btn-info" href="{{ path('reports_general') }}">Reporte General</a>
        </div>
        <div class="col-md-4">
            <a class="col-md-10 btn btn-info" href="{{ path('reports_daily') }}">Reporte Diario</a>
        </div>
        <div class="col-md-4">
            <a class="col-md-10 btn btn-info" href="{{ path('reports_commission') }}">Reporte de comisiones</a>
        </div>
    </div>
{% endblock %}
