{% extends 'base.html.twig' %}

{% block body %}
    <h1>Statuses list</h1>

    <a class="btn btn-info" href="{{ path('status_new') }}">Agregar status</a>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ path('status_show', { 'id': status.id }) }}">{{ status.id }}</a></td>
                <td>{{ status.name }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('status_show', { 'id': status.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('status_edit', { 'id': status.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
