{% extends 'base.html.twig' %}

{% block body %}
    <h1>Status</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ status.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('status_edit', { 'id': status.id }) }}">Editar</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
