<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
            <link rel="stylesheet"
                  href="{{ asset('assets/labs/dashboard.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% include 'sidebar.html.twig' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/js/modal.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/js/tab.js') }}"></script>
        {% endblock %}
    </body>
</html>
