<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Laboratorio San Lucas</a>
            <label class="navbar-brand">
                {{ app.user.name }} -
                {% if app.user.type == 0 %}
                    Administrador
                {% elseif app.user.type == 1 %}
                    Laboratorista
                {% elseif app.user.type == 2 %}
                    Doctor
                {% elseif app.user.type == 1 %}
                    Recepcionista
                {% endif %}
            </label>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">Desconectar</a></li>
            </ul>
        </div>
    </div>
</nav>