<div class="col-sm-3 col-md-2 sidebar">
    {% if is_granted('ROLE_DOC') %}
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('order_index_doctor', {'id': app.user.id}) }}">Resultados</a></li>
        </ul>
    {% elseif is_granted('ROLE_LAB') %}
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('order_index') }}">Ordenes</a></li>
            <li><a href="{{ path('exam_index') }}">Exámenes</a></li>
            <li><a href="{{ path('graphic_index') }}">Gráficos</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('field_index') }}">Campos</a></li>
        </ul>
    {% elseif is_granted('ROLE_REC') %}
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('order_index') }}">Ordenes</a></li>
            <li><a href="{{ path('newer_report') }}">Reporte del dia</a></li>
        </ul>
    {% else %}
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('order_index') }}">Ordenes</a></li>
            <li><a href="{{ path('newer_report') }}">Reporte del dia</a></li>
            <li><a href="{{ path('exam_index') }}">Exámenes</a></li>
            <li><a href="{{ path('graphic_index') }}">Gráficos</a></li>
            <li><a href="{{ path('user_index') }}">Usuarios</a></li>
            <li><a href="{{ path('patient_index') }}">Pacientes</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('discount_index') }}">Descuentos</a></li>
            <li><a href="{{ path('company_index') }}">Empresas</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('status_index') }}">Estatus</a></li>
            <li><a href="{{ path('type_index') }}">Tipos</a></li>
            <li><a href="{{ path('category_index') }}">Categorias</a></li>
            <li><a href="{{ path('field_index') }}">Campos</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('reports_index') }}">Reportes</a></li>
        </ul>
    {% endif %}
</div>