{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <input class="btn btn-warning" type="submit" value="Edit" />
    {{ form_end(edit_form) }}
{% endblock %}
