{% extends 'base.html.twig' %}

{% block body %}
    <h1>Types list</h1>

    <a class="btn btn-info" href="{{ path('type_new') }}">Create a new type</a>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{{ path('type_show', { 'id': type.id }) }}">{{ type.id }}</a></td>
                <td>{{ type.name }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('type_show', { 'id': type.id }) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('type_edit', { 'id': type.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
