{% extends 'base.html.twig' %}

{% block body %}
    <h1>Type creation</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
