<div role="tabpanel" class="tab-pane" id="scan">
    <div class="col-md-1">
        {{ form_label(form.scan) }}
    </div>
    <div class="col-md-12">
        {% if form.scan.children is not empty %}
            {% for exam in form.scan.children %}
                <div class="col-md-3" id="exams">
                    {{ form_widget(exam, {'attr': {'class': 'auto-total'}}) }}
                    {{ exam.vars.label }}
                </div>
            {% endfor %}
        {% else %}
            {{ form_widget(form.scan) }}
        {% endif %}
    </div>
</div>