{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar campo</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(edit_form.reference) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(edit_form.reference, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(edit_form.unit) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(edit_form.unit, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(edit_form.is_title) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(edit_form.is_title) }}
            </div>
        </div>
        <input class="btn btn-warning" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}