{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Lista de campos</h1>

    <a class="btn btn-info" href="{{ path('field_new') }}">Crear nuevo campo</a>
    <hr>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Referencia</th>
                <th>Unidad</th>
                <th class="col-md-1">Titulo</th>
                <th class="col-md-3">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td><a href="{{ path('field_show', { 'id': field.id }) }}">{{ field.id }}</a></td>
                <td>{{ field.name }}</td>
                <td>{{ field.reference }}</td>
                <td>{{ field.unit }}</td>
                <td>
                    {% if field.isTitle %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('field_show', { 'id': field.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('field_edit', { 'id': field.id }) }}">Editar</a>
                    <button id="{{ field.id }}" class="delete_field btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "autoWidth": true,
                "info": false,
                "order": [[ 0, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });

        $('.delete_field').on('click', function(){
            let r = confirm("Desear eliminar este elemento?");
            if (r === true) {
                const button = $(this);
                let url = '{{ path('delete_field', {'id': 'placeholder'}) }}';
                url = url.replace('placeholder', button.attr('id'));

                $.ajax({
                    async: false,
                    url: url,
                    type: "POST",
                    dataType: 'JSON',
                    success: function(data) {
                        if (data['status']) {
                            button.closest('tr').remove()
                        }
                    }
                });
            }
        });

    </script>

{% endblock %}