{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de campo</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(form.reference) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(form.unit) }}
            </div>
            <div class="col-md-3 col-sm-5">
                {{ form_widget(form.unit, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-sm-2">
                {{ form_label(form.is_title) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(form.is_title) }}
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Guardar" />
    {{ form_end(form) }}
{% endblock %}