{% extends 'base.html.twig' %}

{% block body %}
    <h1>Campo: {{ field.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ field.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ field.name }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ field.reference }}</td>
            </tr>
            <tr>
                <th>Unidad</th>
                <td>{{ field.unit }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>
                    {% if field.isTitle %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <a class="btn btn-warning" href="{{ path('field_edit', { 'id': field.id }) }}">Editar</a>
        </div>
        <div class="col-md-2 col-sm-3">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
