{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar usuario</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                {{ form_label(edit_form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(edit_form.username) }}
                {{ form_widget(edit_form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.email) }}
                {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-2">
                {{ form_label(edit_form.type) }}
                {{ form_widget(edit_form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                {{ form_label(edit_form.password.first) }}
                {{ form_widget(edit_form.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_label(edit_form.password.second) }}
                {{ form_widget(edit_form.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-2">
                {{ form_label(edit_form.branchOffice) }}
                {{ form_widget(edit_form.branchOffice, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>

    <input class="btn btn-success" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}
