{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Usuarios registrados</h1>

    <a class="btn btn-info" href="{{ path('user_new') }}">Crear usuario</a>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-md-3">Nombre</th>
                <th class="col-md-2">Email</th>
                <th class="col-md-2">Tipo de usuario</th>
                <th class="col-md-1">Sucursal</th>
                <th class="col-md-2">Fecha de creacion</th>
                <th class="col-md-2">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.type == 0 %}
                        Administrador
                    {% elseif user.type == 1 %}
                        Laboratorista
                    {% elseif user.type == 2 %}
                        Doctor
                    {% else %}
                        Recepcionista
                    {% endif %}
                </td>
                <td>
                    {% if user.branchOffice == 1 %}
                        Atotonilco
                    {% elseif user.branchOffice == 2 %}
                        Ayotlan
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('user_show', { 'id': user.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('user_edit', { 'id': user.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "autoWidth": true,
                "info": false
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}