{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear usuario</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.branchOffice) }}
                    {{ form_widget(form.branchOffice, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <input class="btn btn-success" type="submit" value="Agregar" />
    {{ form_end(form) }}
{% endblock %}
