{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Fecha de creacion</th>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ultima modificacion</th>
                <td>{% if user.modifiedAt %}{{ user.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{ user.createdBy }}</td>
            </tr>
            <tr>
                <th>Modificado por</th>
                <td>{{ user.modifiedBy }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-warning" href="{{ path('user_edit', { 'id': user.id }) }}">Editar</a>
        </div>
        <div class="col-sm-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
