{% extends 'base.html.twig' %}

{% block body %}
    <h1>Results list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td><a href="{{ path('result_show', { 'id': result.id }) }}">{{ result.id }}</a></td>
                <td>{{ result.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('result_show', { 'id': result.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('result_edit', { 'id': result.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('result_new') }}">Create a new result</a>
        </li>
    </ul>
{% endblock %}
