{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar descuento</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                    {{ form_label(edit_form.name) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                    {{ form_label(edit_form.discount) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(edit_form.discount, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <input class="btn btn-warning" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}
