{% extends 'base.html.twig' %}

{% block body %}
    <h1>Discount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ discount.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ discount.name }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ discount.discount }}%</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('discount_edit', { 'id': discount.id }) }}">Editar</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>


{% endblock %}
