<div role="tabpanel" class="tab-pane" id="x-ray">
    <div class="col-md-1">
        {{ form_label(edit_form.xray) }}
    </div>
    <div class="col-md-12">
        {% if edit_form.xray.children is not empty %}
            {% for exam in edit_form.xray.children %}
                <div class="col-md-3" id="exams">
                    {{ form_widget(exam, {'attr': {'class': 'auto-total'}}) }}
                    {{ exam.vars.label }}
                </div>
            {% endfor %}
        {% else %}
            {{ form_widget(edit_form.xray) }}
        {% endif %}
    </div>
</div>