{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Empresas</h1>

    <a class="btn btn-info" href="{{ path('company_new') }}">Agregar empresa</a>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descuento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                <td>{{ company.name }}</td>
                <td>{{ company.discount }}%</td>
                <td>
                    <a class="btn btn-success" href="{{ path('company_show', { 'id': company.id }) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('company_edit', { 'id': company.id }) }}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "autoWidth": true,
                "info": false
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}