{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ company.discount }}%</td>
            </tr>
        </tbody>
    </table>

<div class="row">
    <div class="col-sm-2">
            <a class="btn btn-warning" href="{{ path('company_edit', { 'id': company.id }) }}">Editar</a>
    </div>
    <div class="col-sm-2">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
