{% extends 'base.html.twig' %}

{% block body %}

     <script src="{{ asset('assets/vendor/chart.js/dist/chart.js') }}"></script>
        <h2>Buscar Paciente</h2>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>
                        Nombre
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" name="nombre" id="nombre"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>
                        Edad
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" name="edad" id="edad" />
                </div>
                <div class="col-md-2">
                    <label>
                        Fecha de nacimiento
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control " style="width: 31%; display: unset;" type="text" name="dia" id="dia" placeholder="dd" />
                    <input class="form-control " style="width: 31%; display: unset;" type="text" name="mes" id="mes" placeholder="mm" />
                    <input class="form-control " style="width: 31%; display: unset;" type="text" name="anio" id="anio" placeholder="aaaa" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>
                        Número de teléfono
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" name="numtel" id="numtel" />
                </div>
                <div class="col-md-2">
                    <label>
                        Número celular
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" name="numcel" id="numcel" />
                </div>
                <div class="col-md-2">
                    <label>
                        Correo electrónico
                    </label>
                </div>
                <div class="col-md-2">
                    <input class="form-control form-control-sm" type="text" name="email" id="email" />
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-info" type="button" id="searchExams">Buscar</button>
        <div class="container" id="examlist">
            
        </div>

    <canvas id="myChart" width="400" height="400"></canvas>
<script>

</script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('#searchExams').click(function () {
                let nombre = $('#nombre').val();
                let edad = $('#edad').val();
                let fndia = $('#dia').val();
                let fnmes = $('#mes').val();
                let fnanio = $('#anio').val();
                let numtel = $('#numtel').val();
                let numcel = $('#numcel').val();
                let email = $('#email').val();

                let valores = [nombre,edad,fndia,fnmes,fnanio,numtel,numcel,email];

                let url = '{{ path('get_exam_list', {'valores': 'placeholder'}) }}';
                url = url.replace('placeholder', valores);

                $.ajax({
                    async: false,
                    url: url,
                    type: "POST",
                    dataType: 'JSON',
                    success: function(data){
                       console.log("asdf");
                    },
                    error: function (){
                       console.log("sadface");
                    }
                });

            });
        });
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jun-19', 'Dic-19', 'Jun-20', 'Dic-20', 'Jun-21', 'Dic-22'],
                datasets: [{
                    label: 'Paciente',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        function get_discount() {
            let discount_select = $(".discount");

            if (discount_select.val() !== "") {
                window.discount = discount_select.val();
            } else {
                window.discount = 0;
            }

            let url = '{{ path('get_discount_value', {'id': 'placeholder'}) }}';
            url = url.replace('placeholder', window.discount);

            $.ajax({
                async: false,
                url: url,
                type: "POST",
                dataType: 'JSON',
                success: function(data){
                    window.discount = (100 - data['value']) / 100;
                },
                error: function (){
                    window.discount = 1;
                }
            });
        }


        function sub_exam_price(exam_id) {
            $.ajax({
                async: false,
                url: '{{ path('get_price_exam') }}',
                type: "POST",
                data: 'exam_id='+exam_id,
                dataType: 'JSON',
                success: function(data) {
                    window.pretotal -= data['price'];
                }
            });
        }

        $(".discount").change(function(){
            let total_input = $('.total');

            get_discount();

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });

        $(".company").change(function(){
            let total_input = $('.total');

            get_company();

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });

        $(".auto-total").change(function(){
            let checkbox = $(this);
            let exam_id = $(this).val();
            let total_input = $('.total');

            // Find if current checkbox was checked or unchecked
            if(checkbox.is(':checked')) {
                sum_exam_price(exam_id);
            } else {
                sub_exam_price(exam_id);
            }

            total_input.val(Math.ceil(window.pretotal * window.discount / 5) * 5);
        });


        $("#save_doc_modal").click( function (){
            let name = $("#doctorNameModal").val();
            let select = $("#appbundle_order_doctor");

            let url = '{{ path('save_doctor_modal', {'name': 'placeholder'}) }}';
            url = url.replace('placeholder', name);

            $.ajax({
                async: false,
                url: url,
                type: "POST",
                dataType: 'JSON',
                success: function(data){
                    select.append($('<option>', {value:data.id, text:name}));
                },
                error: function (){
                    alert("La operacion no pudo ser completada");
                }
            });
        });
    </script>
{% endblock %}
