<div class="modal fade" id="fieldModal" tabindex="-1" role="dialog" aria-labelledby="fieldLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="fieldLabel">Crear campo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="fieldNameModal">Nombre del campo</label>
                            <input class="form-control" type="text" id="fieldNameModal" name="fieldNameModal">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="fieldReferenceModal">Referencia</label>
                            <input class="form-control" type="text" id="fieldReferenceModal" name="fieldReferenceModal">
                        </div>
                        <div class="col-md-6">
                            <label for="fieldUnitModal">Unidad</label>
                            <input class="form-control" type="text" id="fieldUnitModal" name="fieldUnitModal">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="fieldTitleModal">Titulo</label>
                            <select class="form-control" id="fieldTitleModal" name="fieldTitleModal">
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="save_field_modal">Guardar Campo</button>
            </div>
        </div>
    </div>
</div>