{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mdbootstrap/css/addons/datatables.css') }}">
{% endblock %}

{% block body %}
    <h1>Examenes</h1>

        <a class="btn btn-info" href="{{ path('exam_new') }}">Agregar Examen</a>
        <hr>

    <table id="main" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Etiqueta</th>
                <th>Tipo</th>
                <th>Costo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td><a href="{{ path('exam_show', { 'id': exam.id }) }}">{{ exam.id }}</a></td>
                <td>{{ exam.name }}</td>
                <td>{{ exam.tag }}</td>
                <td>{{ exam.type }}</td>
                <td>${{ exam.cost }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('exam_show', { 'id': exam.id }) }}">Mostrar</a>
                    {% if is_granted('ROLE_LAB') or is_granted('ROLE_ADM') %}
                        <a class="btn btn-warning" href="{{ path('exam_edit', { 'id': exam.id }) }}">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mdbootstrap/js/mdb.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/mdbootstrap/js/addons/datatables.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#main').DataTable({
                "pagingType": "simple_numbers",
                "autoWidth": true,
                "info": false
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

{% endblock %}
