{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agregar examen</h1>
    {% include 'exam/fieldModal.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.name) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-1">
                {{ form_label(form.tag) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.tag, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.type) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-1">
                {{ form_label(form.category) }}
            </div>
            <div class="col-md-3">
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.cost) }}
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    {{ form_widget(form.cost, { 'attr': { 'class': 'form-control total', 'value': '0', 'step':'.01' }, 'money_pattern': '{{ widget }}' }) }}
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-1">
                {{ form_label(form.fields) }}
                <button type="button" class="btn-small btn-primary" data-toggle="modal" data-target="#fieldModal">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-md-12" id="fieldList">
                {% if form.fields.children is not empty %}
                    {% for field in form.fields.children %}
                        <div class="col-md-3">
                            {{ form_widget(field) }}
                            {{ field.vars.label }}
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form_widget(form.fields) }}
                {% endif %}
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Crear"/>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $("#save_field_modal").click(function () {
            let name = $("#fieldNameModal").val();
            let reference = $("#fieldReferenceModal").val();
            let unit = $("#fieldUnitModal").val();
            let title = $("#fieldTitleModal").val();

            $.ajax({
                async: false,
                url: '{{ path('save_field_modal') }}',
                type: "POST",
                data: ({
                    r: reference,
                    u: unit,
                    n: name,
                    t: title,
                }),
                success: function (data) {
                    let container = $('#fieldList');
                    container.append("<div class='col-md-2'><input type='checkbox' value='" + data.id + "' id='appbundle_exam_fields_" + data.id + "' name='appbundle_exam[fields][]' > " + name);

                    $("#fieldModal").modal("hide");
                },
                error: function () {
                    alert("La operacion no pudo ser completada");
                }
            });
        });
    </script>
{% endblock %}