{% extends 'base.html.twig' %}

{% block body %}
    <h1>Examen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ exam.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ exam.name }}</td>
            </tr>
            <tr>
                <th>Etiqueta</th>
                <td>{{ exam.tag }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ exam.type }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>${{ exam.cost }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADM') %}
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-warning" href="{{ path('exam_edit', { 'id': exam.id }) }}">Editar</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}
