{% extends 'base.html.twig' %}

{% block body %}
    <h1>Details list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td><a href="{{ path('detail_show', { 'id': detail.id }) }}">{{ detail.id }}</a></td>
                <td>{{ detail.cost }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detail_show', { 'id': detail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detail_edit', { 'id': detail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detail_new') }}">Create a new detail</a>
        </li>
    </ul>
{% endblock %}
