{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail.id }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ detail.cost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detail_edit', { 'id': detail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
