<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet"
              href="{{ asset('assets/labs/signin.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-signin" action="{{ path('login') }}" method="post">
            <h2 class="form-signin-heading">Log-in</h2>
            <input class="form-control" placeholder="Usuario" type="text" id="username" name="_username" value="{{ last_username }}"/>
            <input class="form-control" placeholder="Contraseña" type="password" id="password" name="_password"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
        </form>
    </div>
</body>
</html>